.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
}

.flex-item-home {
  background: rgb(124, 77, 77);
  padding: 2px;
  width: 150px;
  height: 80åx;
  margin-top: 4px;
  margin-left: 4px;
  color: white;

  font-size: 0.8em;
  text-align: center;
}

.flex-item-home .title {
  font-size: 1.1em;
  font-weight: bold;
}

.flex-item-home#Suomi {
  background: rgb(34, 64, 104);
}

.infoViewTable {
  padding-left: 10px;
  border-collapse: collapse;
}

.infoViewTable > tbody {
  border-width: 3px;
  border-style: groove;
  border-color: rgb(124, 77, 77);
}

.infoViewTable .regionInfoViewTableRow_Title > td {
  text-align: left;
  padding-left: 4px;
  padding-bottom: 5px;

  /*  background-color: rgb(231, 231, 231); */
  color: rgb(124, 77, 77);
}

.infoViewTable > tbody > tr {
  padding-top: 5px;
  margin-top: 5px;
}

.infoViewTable > tbody > tr > td {
  padding-top: 5px;
  margin-top: 5px;
}

.infoViewTable .regionInfoViewTableRow_Title {
  margin-bottom: 10px;
}

#searchResultList {
  position: absolute;
}
